# Final Project
#### CSCI 608
#### Jacob Dodson

In [1]:
import pandas as pd

### **<u>Problem Formulation:</u>**

#### ***1. Descriptive Question:*** What are the overall patterns of academic performance (G3) in Math and Portuguese, and how many students fall into “at-risk” performance categories (G3 < 10)?

#### ***2. Exploratory Question:*** Which external student factors, such as study time, family support, or alcohol use, show the strongest relationships with being academically at risk (G3 < 10)?

#### ***3. Predictive Question:*** Can we build a regression model that predicts whether a student is at risk of failing (G3 < 10) without using G1 or G2, based only on demographic, behavioral, and/or family features?

#### ***4. Inferential Question:*** Do students with strong family support, measured through high family relationship quality (famrel), parental cohabitation (Pstatus), and family educational support (famsup), have significantly higher final grades (G3) compared to students with weaker support, based on bootstrap confidence intervals?

### **<u>Data Collection:</u>**

#### Data was collected from this link: [Student Performance](https://archive.ics.uci.edu/dataset/320/student+performance) which is a Protuguese student performance dataset from students in secondary education (high school).

#### The datasets combines objective school records such as grades (G1, G2, G3) and absences, with a range of self-reported questionnaire data, including demographic, behavioral, family, educational support, and social/emotional variables.

### **<u>Data Preparation:</u>**

In [2]:
mat = pd.read_csv("student-mat.csv", sep=";")
por = pd.read_csv("student-por.csv", sep=";")

In [3]:
mat.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

#### Math dataset has 395 student performance observations

In [5]:
por.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

#### Portuguese dataset has 649 student performance observations

#### Both datasets are tidy. Each row corresponds to one student in a specific course and each column represents a single variable showing we have exactly one observation per row.